doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		title Tutor Plus
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		link(rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="../public/indexStyle.css")
		block links

	body
		block header

		block flash
			if flash.success
				div.alert.alert-success.text-center(role="alert") !{flash.success}
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times;
			else if flash.error
				div.alert.alert-danger.text-center(role="alert") !{flash.error}
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times;

		.container
			.px-2
				block content


		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
		block scripts