nav.navbar.navbar-toggleable-xs.navbar-light.bg-faded
	.d-flex.justify-content-between.align-items-center.mx-5
		a.navbar-brand(href="/")
			h2 
				b Tutor Plus
		div.d-flex
			a.mr-3.btn.btn-primary(href="/login") Login
			a.mr-2.btn.btn-primary(href="/signup") Signup